<div>
    <h1>Structural Directives</h1>
    <section *advancedDir="9000 as time; post placeholder" class="banner">
        <h2>Temporary Warning</h2>
        <p>This warning will disappear in {{time}} seconds</p>
    </section>
    <ng-template #placeholder>
        <section class="placeholder">
            <h2>Transitional Advice</h2>
            <p>This will now remain here for a bit</p>
        </section>
    </ng-template>
    <h2>{{getPrivateVar}}</h2>
    <button (click)="initSet()">RUN</button>
</div>
